* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#navigation {
  background-color: #3e3c3c;
  height: 4.5rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo {
    color: #f55800;
    margin-left: 1.5rem;

    h3 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #fff;
    }
  }

  .navlinks {
    display: none;
    margin-right: 1.5rem;

    .links {
      display: flex;
      align-items: center;
      gap: 3rem;

      li {
        a {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 0.938rem;
          line-height: 1.25rem;
          color: #fff;

          .fa-envelope {
            font-size: 1.5rem;
          }
        }
      }
    }

    &.open {
      display: flex;
      justify-content: start;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #1c1a19;

      .links {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        margin-top: 5rem;
        width: 100%;

        :nth-child(4) {
          display: none;
        }

        li {
          border-bottom: 1px solid #6f6c6b;
          padding: 1rem;
          width: 100%;

          a {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.75rem;
          }
        }
      }
    }
  }

  .toggle {
    height: 2.188rem;
    width: 2.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-right: 1.5rem;
    cursor: pointer;

    .menu {
      position: relative;
      height: 0.25rem;
      width: 1.875rem;
      border-radius: 5px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }

    .menu::before,
    .menu::after {
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 1.875rem;
      border-radius: 5px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }

    .menu::before {
      transform: translateY(-10px);
    }

    .menu::after {
      transform: translateY(10px);
    }

    &.open .menu {
      transform: translateX(-35px);
      background-color: transparent;
    }

    &.open .menu::before {
      transform: rotate(45deg) translate(24px, -24px);
    }

    &.open .menu::after {
      transform: rotate(-45deg) translate(24px, 24px);
    }
  }
}

#hero {
  background-color: #1c1a19;
  height: 100vh;
  background-image: url("./assets/hero_mob.png");
  background-repeat: no-repeat;
  background-position: bottom right;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;

  .hero_text {
    margin-top: 7rem;
    max-width: 35.375rem;

    .title {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 600;
      font-size: 3.5rem;
      line-height: 4rem;
      letter-spacing: 0.37px;
      color: #ff6b00;
    }

    .subtitle {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      color: #fff5e1;
    }

    .text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.5rem;
      color: #fff;
      margin-top: 1rem;
    }
  }

  .hero_icons {
    margin-top: 2rem;

    .icon_links {
      display: flex;
      gap: 1.25rem;

      .icon {
        i {
          font-size: 1.8rem;
          color: #dbd8d7;
        }

        img {
          height: 1.8rem;
        }
      }
    }
  }
}

@media screen and (min-width: 48rem) {
  #navigation {
    .navlinks {
      display: block;
    }

    .toggle {
      display: none;
    }
  }

  #hero {
    flex-direction: row-reverse;
    justify-content: start;
    background-image: url("./assets/hero_mob.png");
    background-size: 300px;
    background-position: right center;

    .hero_text {
      width: 30rem;
    }

    .hero_icons {
      ul {
        flex-direction: column;
        margin-top: 6rem;
        width: 5rem;
        align-items: center;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  #hero {
    background-image: url("./assets/hero-desktop.png");
    background-size: 650px;
    background-position: right center;
  }
}
