@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600&family=Roboto+Condensed:wght@400;700&family=Roboto:wght@400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  overflow-x: auto;
}

hr {
  height: 1px;
  width: 90%;
  margin: 2rem 2rem 1rem;
}

.blur.open {
  filter: blur(10px);
}
$default-bg-size: 100px;

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #3e3c3c;
  z-index: 30;

  .logo {
    margin-left: 1.5rem;

    h3 {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.125rem;
      line-height: 1.5rem;
      color: #fff;
    }
  }

  .navlinks {
    display: none;

    .links {
      display: flex;
      align-items: center;
      gap: 2rem;

      .link {
        a {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 0.938rem;
          line-height: 1.25rem;
          color: #fff;

          .fa-envelope {
            font-size: 1.5rem;
            color: #fff;
          }
        }
      }
    }

    &.open {
      display: flex;
      justify-content: start;
      position: absolute;
      top: 0;
      left: 0;
      height: 100vh;
      width: 100%;
      background-color: #1c1a19;
      z-index: 10;

      .links {
        flex-direction: column;
        align-items: flex-start;
        padding: 2rem;
        margin-top: 5rem;
        width: 100%;

        :nth-child(4) {
          display: none;
        }

        li {
          border-bottom: 1px solid #6f6c6b;
          padding: 1rem;
          width: 100%;

          a {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 2rem;
            line-height: 2.75rem;
          }
        }
      }
    }
  }

  .toggle {
    height: 2.188rem;
    width: 2.188rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all 0.5s ease-in-out;
    margin-right: 1.5rem;
    cursor: pointer;
    z-index: 10;

    .menu {
      position: relative;
      height: 0.25rem;
      width: 1.875rem;
      border-radius: 5px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }

    .menu::before,
    .menu::after {
      content: "";
      position: absolute;
      height: 0.25rem;
      width: 1.875rem;
      border-radius: 5px;
      background: #fff;
      transition: all 0.5s ease-in-out;
    }

    .menu::before {
      transform: translateY(-10px);
    }

    .menu::after {
      transform: translateY(10px);
    }

    &.open .menu {
      transform: translateX(-35px);
      background-color: transparent;
    }

    &.open .menu::before {
      transform: rotate(45deg) translate(24px, -24px);
    }

    &.open .menu::after {
      transform: rotate(-45deg) translate(24px, 24px);
    }
  }
}

#portfolio {
  display: grid;
  grid-template-columns: 1fr;

  .title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2.5rem 0;

    h2 {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 40px;
      line-height: 52px;
      color: #1c1a19;
    }

    .line {
      margin-top: 1.8rem;
      background-color: #1c1a19;
      width: 90%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
    grid-column: 1/2;
    padding: 1rem;

    .placeholder {
      display: flex;
      flex-direction: column;

      .plchdr_img {
        width: 100%;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .plchdr_text {
        h3 {
          font-family: "Crete Round", serif;
          font-style: normal;
          font-weight: 600;
          font-size: 32px;
          line-height: 44px;
          color: #091e42;
        }

        p {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: #091e42;
        }

        ul {
          display: flex;
          gap: 1rem;

          li {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 15px;
            line-height: 20px;
            color: #091e42;
            border: 1px solid #8993a4;
            padding: 10px 12px;
            border-radius: 2px;
          }
        }

        button {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 700;
          font-size: 17px;
          line-height: 24px;
          letter-spacing: 0.03em;
          background: #ff6b00;
          color: #fff;
          padding: 0.5rem;
          border: none;
          border-radius: 3px;
          margin-top: 1rem;

          &:hover {
            color: #f55800;
            background-color: #fff5e1;
            border: 1px solid #f55800;
          }

          &:visited {
            color: #f4f1f0;
            background-color: #e05304;
          }
        }
      }
    }
  }

  .card {
    max-width: 600px;
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .card_title {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 32px;
      line-height: 44px;
      color: #fff;
      margin-top: 12rem;
      padding-left: 1rem;
    }

    .card_description {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      color: #fff;
      padding-left: 1rem;
    }

    .tech_stack {
      display: flex;
      gap: 1rem;
      margin: 1rem;

      .tech {
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 15px;
        line-height: 20px;
        color: #fff;
        padding: 12px;
        background: rgba(255, 255, 255, 0.24);
      }
    }

    .card_btn {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      color: #fff;
      background: #ff6b00;
      padding: 12px;
      border: none;
      width: 100%;
      align-self: self-end;

      &:hover {
        color: #f55800;
        background-color: #fff5e1;
        border: 1px solid #f55800;
      }

      &:visited {
        color: #f4f1f0;
        background-color: #e05304;
      }
    }
  }

  .card_1,
  .card_4 {
    background-image: url("./assets/card-1.png");
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .card_2,
  .card_5 {
    background-image: url("./assets/card_2.png");
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .card_3,
  .card_6 {
    background-image: url("./assets/card_3.png");
    background-repeat: no-repeat;
    background-size: 600px;
  }

  .modal {
    position: fixed;
    top: 3rem;
    left: 10px;
    z-index: 20;
    background-color: #f4f1f0;
    width: 95%;
    height: 100%;
    display: none;
    flex-direction: column;
    align-items: center;

    .heading {
      width: 100%;

      .modal_ttl {
        font-family: "Roboto", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #172b4d;
      }

      .pop-title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 1.5rem;

        .title1 {
          display: none;
        }

        .fa-x {
          font-size: 1.5rem;
          font-weight: 800;
        }
      }

      .modal_tech {
        display: flex;
        gap: 1rem;
        margin: 0.8rem 1.5rem;

        .md_tech {
          font-family: "Poppins", sans-serif;
          font-style: normal;
          font-weight: 600;
          font-size: 13px;
          line-height: 16px;
          color: #3c3a39;
          border: 1px solid #979493;
          border-radius: 2px;
          padding: 0.5rem;
        }
      }
    }

    .content {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      .image {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        .pop_desk {
          display: none;
        }
      }

      .description {
        padding: 0.5rem 1.5rem;

        .modal_text {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 16px;
          line-height: 22px;
          color: #344563;
        }

        .md-txt {
          display: none;
        }

        .modal_buttons {
          margin: 1rem 0;
          display: flex;
          justify-content: space-between;
          padding-bottom: 0.5rem;
          gap: 1rem;

          .btn {
            font-family: "Inter", sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 14px;
            line-height: 24px;
            color: #fff;
            background: #ff6b00;
            padding: 0.5rem;
            border: none;
            display: flex;
            width: 120px;
            justify-content: space-between;
            align-items: center;

            .fa-github {
              font-size: 1.3rem;
            }

            &:hover {
              color: #f55800;
              background-color: #fff5e1;
              border: 1px solid #f55800;
            }

            &:visited {
              color: #f4f1f0;
              background-color: #e05304;
            }
          }
        }
      }
    }

    &.open {
      display: flex;
    }
  }
}

#hero {
  display: flex;
  flex-direction: column;
  background-color: #1c1a19;
  height: 100%;
  background-image: url("./assets/hero_mob.png");
  background-size: $default-bg-size * 1.2;
  background-repeat: no-repeat;
  background-position: bottom right;
  padding-bottom: 3rem;

  .hero_text {
    margin-top: 3.5rem;
    max-width: 35.375rem;
    margin-left: 1.5rem;

    .title {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 3.5rem;
      line-height: 4rem;
      letter-spacing: 0.37px;
      color: #ff6b00;
      width: 90%;
    }

    .subtitle {
      font-family: "Roboto", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 1.5rem;
      line-height: 2rem;
      color: #fff5e1;
    }

    .text {
      font-family: "Poppins", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 1rem;
      line-height: 1.6rem;
      letter-spacing: 0.8px;
      color: #fff;
      margin-top: 0.5rem;
      width: 80%;
    }

    .text-slider-items {
      display: none;
    }

    .text-slider-items2 {
      display: none;
    }
  }

  .slide-in-fwd-center {
    -webkit-animation:
      slide-in-fwd-center 2s
      cubic-bezier(0.25, 0.46, 0.45, 0.94) 3500ms both;
    animation:
      slide-in-fwd-center 2s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      3500ms both;
  }

  @-webkit-keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-fwd-center {
    0% {
      -webkit-transform: translateZ(-1400px);
      transform: translateZ(-1400px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }

  .slide-in-tl {
    -webkit-animation: slide-in-tl 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-in-tl 2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  @-webkit-keyframes slide-in-tl {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
      transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }

  @keyframes slide-in-tl {
    0% {
      -webkit-transform: translateY(-1000px) translateX(-1000px);
      transform: translateY(-1000px) translateX(-1000px);
      opacity: 0;
    }

    100% {
      -webkit-transform: translateY(0) translateX(0);
      transform: translateY(0) translateX(0);
      opacity: 1;
    }
  }
}

.hero_icons {
  margin: 2rem 0 3.6rem;
  margin-left: 1.5rem;

  .icon_links {
    display: flex;
    gap: 1.25rem;

    .icon {
      i {
        font-size: 1.5rem;
        color: #dbd8d7;
      }

      .heroVector {
        height: 1.5rem;
      }
    }
  }
}

#about {
  width: 100%;
  background-color: #1c1a19;
  background-image: url("./assets/about_img.png");
  background-repeat: no-repeat;
  background-position: 100% 20.5%;
  height: 100%;
  margin-top: 5rem;
  display: flex;
  flex-direction: column;

  .abt_line {
    margin: 10rem 0 1rem;
    width: 90%;
    align-self: center;
  }

  .about_me {
    margin-top: 5rem;
    max-width: 566px;
    max-height: 582px;
    margin-left: 1.5rem;

    .abt_title {
      font-family: "Crete Round", serif;
      font-style: normal;
      font-weight: 400;
      font-size: 72px;
      line-height: 88px;
      letter-spacing: 0.37px;
      color: #ff6b00;
    }

    .abt_description {
      margin-top: 1.5rem;
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 32px;
      color: #f4f5f7;
    }

    .abt_btn {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      letter-spacing: 0.03em;
      background: #ff6b00;
      color: #fff;
      padding: 12px;
      border: none;
      border-radius: 3px;
      margin-top: 1.5rem;

      &:hover {
        color: #f55800;
        background-color: #fff5e1;
        border: 1px solid #f55800;
      }

      &:visited {
        color: #f4f1f0;
        background-color: #e05304;
      }
    }
  }

  .experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 2rem;

    .skill_stack {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 367px;
      height: 350px;
      padding: 1rem;

      .skl_stack-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-family: "Inter", sans-serif;
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 44px;
        color: #fff;

        span {
          font-size: 2rem;
          color: #f55800;
        }

        .entity {
          font-size: 3rem;
        }
      }

      .abt-tec {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        gap: 0.5rem;

        .skill {
          font-family: "Inter", sans-serif;
          font-style: normal;
          font-weight: 400;
          font-size: 22px;
          line-height: 43px;
          text-align: center;
          color: #fff;
        }
      }
    }
  }
}

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;

  .contact_text {
    margin: 3.5rem 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .cont_text {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 32px;
      line-height: 44px;
      text-align: center;
      color: #172b4d;
    }
  }

  #form {
    width: 80%;

    fieldset {
      display: flex;
      flex-direction: column;
      height: 100%;
      border: none;

      .err {
        color: red;
      }

      .input-grp {
        width: 100%;
        margin: 0.5rem 0;
        border-bottom: 1px solid #dbd8d7;

        input {
          width: 100%;
          height: 40px;
          border: none;
          margin-bottom: 0.5rem;
          padding-left: 1rem;

          &:focus {
            outline: none;
          }
        }
      }
    }

    .input-grp_msg {
      width: 100%;
      margin: 0.5rem 0;

      textarea {
        width: 100%;
        border: none;
        background-color: #f0eded;
        padding: 1rem;

        &:focus {
          outline: none;
        }
      }
    }

    .submit_btn {
      font-family: "Inter", sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 24px;
      color: #fff;
      width: 131px;
      height: 48px;
      background-color: #ff6b00;
      padding: 0.5rem 0;
      align-self: center;
      border: none;

      &:hover {
        color: #f55800;
        background-color: #fff5e1;
        border: 1px solid #f55800;
      }

      &:visited {
        color: #f4f1f0;
        background-color: #e05304;
      }
    }
  }
}

#footer {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .footer_icon-links {
    display: flex;
    gap: 1rem;

    .footer_icon {
      .footer_icon-icon {
        font-size: 1.8rem;
        color: #505f79;
      }

      .footer_icon-img {
        height: 1.8rem;
      }
    }
  }
}

@media only screen and (min-width: 425px) {
  #portfolio {
    .modal {
      .content {
        .image {
          padding: 1.5rem;
          width: 90%;
          height: -webkit-fill-available;

          .pop_mob {
            display: none;
          }

          .pop_desk {
            display: block;
            max-width: 100%;
            height: -webkit-fill-available;
          }
        }

        .description {
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (min-width: 600px) {
  #navigation {
    .toggle {
      display: none;
    }

    .navlinks {
      display: block;
      margin-right: 1rem;
    }
  }

  #hero {
    background-image: url("./assets/hero_mob.png");
    background-size: 280px;
    background-position: right center;
  }

  #portfolio {
    .cards {
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;

      .placeholder {
        grid-column: 1/3;

        .plchdr_text {
          margin-top: 1rem;
        }
      }
    }

    .modal {
      margin-left: 0.7rem;

      .heading {
        .pop-title {
          .title1 {
            display: block;
          }

          .title2 {
            display: none;
          }
        }
      }

      .content {
        flex-direction: row;
        margin-top: 3rem;

        .image {
          margin-top: -5rem;
          width: 100%;

          .pop_desk {
            object-fit: cover;
            max-width: 100%;
            height: -webkit-fill-available;
          }
        }

        .description {
          width: 50%;
        }
      }
    }
  }

  #footer {
    margin-top: 1rem;

    .footer_icon-links {
      gap: 2rem;

      .footer_icon {
        .footer_icon-icon {
          font-size: 2rem;
        }

        .footer_icon-img {
          height: 2rem;
        }
      }
    }
  }
}

@media only screen and (min-width: 768px) {
  #contact {
    flex-direction: row;

    .contact_text {
      width: 40%;
      margin-left: 1rem;
      margin-top: 2rem;

      .cont_text {
        text-align: start;
        font-weight: 700;
        font-size: 40px;
        line-height: 52px;
      }
    }

    #form {
      margin-top: 5rem;
      margin-right: 0.5rem;
      width: 60%;

      fieldset {
        .submit_btn {
          align-self: start;
        }
      }
    }
  }

  #hero {
    flex-direction: row-reverse;
    justify-content: start;
    background-image: url("./assets/hero-desktop.png");
    background-size: 320px;
    background-position: right bottom;

    .hero_text {
      width: 35rem;

      .title {
        margin-top: 3rem;
        font-size: 72px;
        line-height: 82px;
        width: 60%;
      }

      .subtitle {
        font-size: 32px;
        line-height: 44px;
      }
    }

    .hero_icons {
      margin-top: 5rem;
      margin-left: -2rem;
      margin-right: 2rem;

      ul {
        flex-direction: column;
        margin-top: 8rem;
        width: 5rem;
        align-items: center;
      }
    }
  }

  #portfolio {
    .modal {
      max-width: 1156px;
      margin-left: 1rem;
      height: 670px;
      padding-bottom: 5rem;

      .content {
        align-items: center;

        .image {
          .pop_desk {
            margin-top: 3rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 992px) {
  #hero {
    background-size: 520px;
  }

  #portfolio {
    .title {
      flex-direction: row;
      justify-content: space-around;

      .line {
        width: 50%;
      }
    }

    .cards {
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;

      .placeholder {
        grid-column: 1/4;
        display: flex;
        flex-direction: row;

        .plchdr_img {
          width: 50%;
        }

        .plchdr_text {
          width: 50%;
          display: flex;
          flex-direction: column;
          margin-left: 2rem;

          button {
            width: 25%;
            height: 48px;
            padding: 12px;
          }
        }
      }

      .card {
        height: 450px;

        .tech_stack {
          margin: 1rem;
        }

        .card_btn {
          display: none;
        }

        &:hover {
          flex-direction: column-reverse;

          .card_title {
            display: none;
          }

          .card_description {
            display: none;
          }

          .tech_stack {
            display: none;
          }

          .card_btn {
            align-self: self-end;
            display: block;
          }
        }
      }
    }

    .modal {
      margin-left: 1.5rem;

      .content {
        .description {
          .md-txt {
            display: block;
            margin-top: 0.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  #hero {
    background-size: 650px;
    background-position: right center;
  }

  #about {
    background-image: url("./assets/about_me.png");

    .abt_line {
      margin-top: 15rem;
    }

    .about_me {
      margin-left: 3.5rem;
    }

    .experience {
      flex-direction: row;
      justify-content: space-around;

      .skill_stack {
        align-items: start;

        .abt-tec {
          align-items: start;
        }
      }

      .stack-one {
        margin-top: -2.5rem;
      }
    }
  }

  #portfolio {
    .modal {
      inset: 3.5rem 10% 3.5rem 6%;

      .content {
        .description {
          margin-top: -1rem;

          .modal_buttons {
            margin-top: 5rem;
          }
        }
      }
    }
  }
}
